@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    min-height: 100vh;
    background-color: #fcfcfc;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    height: 1px;
    background-color: #e0e0e0;
}

.app-content{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cursor{
    cursor: pointer;
}